@charset "UTF-8";
html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 10px;
}

.container {
  display: grid;
  grid-template-rows: 170px auto auto 160px;
}

.fondo {
  position: relative;
  margin-bottom: -4px;
  width: 100%;
  object-fit: cover;
}
.fondo img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
}
.logo img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.barra {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(192, 163, 219);
  margin: 0;
}
.barra li {
  margin: 10px 20px;
}

.primera ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

.enviar {
  margin-bottom: 15px;
}

.primera-titulo {
  margin-top: 0;
}

.pagina1 img {
  width: 100%;
}

.pagina2 .primera {
  width: 100%;
  background-color: rgb(236, 141, 207);
}

.cuerpo {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
  display: grid;
  grid-template-columns: 50% 50%;
}
.cuerpo h4 {
  margin: 0;
}
.cuerpo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.cuerpo .primera {
  background-color: rgb(236, 141, 207);
}
.cuerpo ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 15px;
}

h4.presupuesto {
  text-align: center;
}

.formulario1 {
  background-color: rgb(236, 141, 207);
  font-size: 15px;
  padding: 15px;
}
.formulario1 h4.presupuesto {
  margin: 0;
  padding: 17px;
  font-size: 20px;
}

.formulario2 {
  background-color: rgb(236, 141, 207);
  font-size: 15px;
  padding: 15px;
}
.formulario2 h4.servicios {
  margin: 0;
  padding: 17px;
}

.formulario3 {
  background-color: rgb(236, 141, 207);
  font-size: 15px;
  padding: 15px;
}
.formulario3 h4.adicionales {
  margin: 0;
  padding: 17px;
}
.formulario3 textarea#mensaje {
  margin-left: 1%;
}

.fondofooter {
  background-color: rgb(187, 122, 247);
  width: 100%;
  height: fit-content;
  left: 0%;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.fondofooter .evento {
  display: flex;
  margin: 10% 15%;
  text-decoration: underline;
  font-weight: bold;
  flex-direction: column;
  text-align: center;
}
.fondofooter .entreamigos {
  display: flex;
  flex-direction: column;
  margin: 10% 15%;
  text-align: center;
}
.fondofooter .nosotros {
  display: flex;
  flex-direction: column;
  margin: 10% 15%;
  text-align: center;
}
.fondofooter .nosotros ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}
.fondofooter .nosotros span {
  padding-left: 25px;
}
.fondofooter .nosotros img {
  height: 20px;
  width: 20px;
  top: -3px;
}
.fondofooter .redessociales {
  display: flex;
  flex-direction: column;
  margin: 10% 15%;
  text-align: center;
}
.fondofooter ul {
  font-weight: bold;
  padding-left: 0;
}
.fondofooter li {
  text-decoration: none;
  list-style: none;
}
.fondofooter h1 {
  text-decoration: underline;
  font-weight: bold;
}
.fondofooter .entreamigos h1 {
  text-decoration: underline;
  font-weight: bold;
}
.fondofooter .entreamigos img {
  margin: 0 auto;
  width: 70px;
  height: 65px;
}

.redessociales img {
  height: 20px;
  width: 20px;
}
.redessociales img,
.redessociales li {
  display: inline;
}

.primero {
  background-color: rgb(236, 141, 207);
}

.informacion p {
  margin: 20px 14px 16px 20px;
  font-size: 12px;
}

h4.titulo {
  text-align: center;
  font-size: 20px;
}

li.texto {
  font-size: 15px;
}

.pelotero1 {
  display: flex;
}

.pelotero2 {
  display: flex;
}

.pelotero3 {
  display: flex;
}

.pelotero4 {
  display: flex;
}

.pelotero5 {
  display: flex;
}

.pelotero6 {
  display: flex;
}

.pelotero7 {
  display: flex;
}

.pelotero8 {
  display: flex;
}

.pelotero9 {
  display: flex;
}

@media (max-width: 500px) {
  .logo {
    display: flex;
    justify-content: center;
    /* Centra el logo horizontalmente */
    align-items: center;
    /* Centra el logo verticalmente */
    margin: 0 auto;
  }
  .barra {
    flex-direction: column;
    /* Apila los botones verticalmente */
    justify-content: center;
  }
  .barra li {
    margin: -8px 0;
    text-align: center;
    /* Ajusta el espacio entre los botones en vista móvil */
  }
  .barra button {
    padding: 0px 15px;
    margin: 0 auto;
    width: 95%;
    margin-bottom: 10px;
    /* Ajusta el padding para cambiar el tamaño de los botones en vista móvil */
    font-size: 18px;
    /* Ajusta el tamaño de la fuente para los botones en vista móvil */
  }
  .barra button:nth-child(1) {
    margin-top: 10px;
  }
  .barra button:nth-child(1) {
    margin-top: 10px;
  }
  .fondofooter {
    grid-template-columns: auto;
  }
  .fondofooter .redessociales ul {
    display: flex;
    flex-direction: column;
    /* Apila los íconos de redes sociales verticalmente */
    gap: 5px;
  }
  .cuerpo h4 {
    margin: 0;
    padding: 17px 0px;
  }
  .cuerpo ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  .formulario1 h4.presupuesto {
    margin: 0;
    padding: 17px;
  }
  .formulario2 h4.servicios {
    margin: 0;
    padding: 17px;
  }
  .formulario3 h4.adicionales {
    margin: 0;
    padding: 17px;
  }
  img.disfraz {
    width: 100%;
  }
}
.animadores {
  display: grid;
  grid-template-columns: 50% 50%;
}
.animadores img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=final-styles.css.map */
